# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

*.mp4

*.nc

#data/

# Flask stuff:
instance/
.webassets-cache

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

.DS_Store

windcanvas_iap.js