[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
netcdf4 = "*"
numpy = "*"
cftime = "*"
siphon = "*"
fsspec = "*"
gunicorn = "*"

[dev-packages]

[requires]
python_version = "3.12"
